body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, #be1d60, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #080101;
    text-align: center;
    overflow: hidden; 
    transition: background 0.4s ease-in-out;
}

.container {
    background: rgba(251, 247, 247, 0.85);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
}


.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}


input[type="password"], input[type="text"] {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #0c0101;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background: #f7f7f7;
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
    color: #333;
    height: 50px; 
}


input[type="password"]:focus, input[type="text"]:focus {
    border-color: #5c6bc0;
    box-shadow: 0 0 10px rgba(92, 107, 192, 0.4);
    background: #ffffff;
}


#strength-bar {
    width: 100%;
    height: 15px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}


#password-strength-text {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-top: 15px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}


.weak {
    background: linear-gradient(45deg, #f44336, #f66d6d);
    width: 33%;
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
    transition: all 0.4s ease;
}


.medium {
    background: linear-gradient(45deg, #ffeb3b, #ffcd38);
    width: 66%;
    box-shadow: inset 0 0 10px rgba(255, 193, 7, 0.5);
    transition: all 0.4s ease;
}


.strong {
    background: linear-gradient(45deg, #4caf50, #66bb6a);
    width: 100%;
    box-shadow: inset 0 0 10px rgba(76, 175, 80, 0.5);
    transition: all 0.4s ease;
}

#show-password {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    transition: color 0.3s ease;
}

#show-password:hover {
    color: #5c6bc0;
}

#check-password {
    background-color: #5c6bc0;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#check-password:hover {
    background-color: #3949ab;
    transform: scale(1.05);
}


@media screen and (max-width: 500px) {
    .container {
        padding: 30px 20px;
    }
    input[type="password"], input[type="text"]
     {
        font-size: 14px;
    }
    #check-password {
        padding: 10px 20px;
        font-size: 14px;
    }
}
